* 
{
	margin: 0; 
	padding: 0; 
}
body 
{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(Фон.png);
}
.topnav 
{
	overflow: hidden;
}

.topnav a
{
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size:20px;
}

		
.topnav a:hover 
{
	background-color: #ddd;
	color: black;
	float: right;
}

.topnav a.active
{
	float: left;
	background-color: #ddd;
	color: black;

}
.tab 
{ 
	float: right;
	margin-left: 20%; 
}
textarea
{
	resize: none;
}
body
{
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	background-color: gray;
	background-width: 100%;
	background-height: 100%;
	color: black;
	background-size:cover;	
	background-attachment:fixed;
}	
div
{
	color: white;
}
.containerss
{
	height: 500px;
	text-align: center;
	width: 500px;
}
.column {
	display: block;
	box-sizing: border-box;
    width: 25%; /* новая ширина к	олонки */
	height: auto;
    margin-bottom: 20px;
	background-color: black;
	
}
.my
{
    display: block;
    box-sizing: border-box;
}
.container-menu
{
	/* Rectangle 8 */

	position: absolute;
	width: 1293.05px;
	height: 70px;
	left: 311.95px;
	top: 60px;

	background: #101010;
	border-radius: 30px;

}
/* скрываем чекбокс */
#menu__toggle
{
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn 
{
	display: flex; /* используем flex для центрирования содержимого */
	align-items: center;  /* центрируем содержимое кнопки */
	position: fixed;
	position: absolute;
	width: 24.07px;
	height: 19.79px;
	left: 1558.07px;
	top: 84.18px;
	cursor: pointer;
	z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 25%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 25%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 70%;
  top: 14%;
}
