* 
{
	margin: 0; 
	padding: 0; 
}
body 
{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(Фон.png);
}
.topnav 
{
	overflow: hidden;
	background-color: black;
}

.topnav a
{
	float: right;
	background-color: black;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size:20px;
}

		
.topnav a:hover 
{
	background-color: gray;
	color: white;
	float: right;
}

.topnav a.active
{
	float: left;
	background-color: green;
	color: black;

}
.tab 
{ 
	float: right;
	margin-left: 20%; 
}
textarea
{
	resize: none;
}
body
{
	position: absolute;
	
	background: url(background.png);
	min-width: 100%;
	min-height: 100%;
	background-width: 100%;
	background-height: 100%;
	color: black;
	background-size:cover;	
	background-attachment:fixed;
}	
div
{
	color: white;
}
.containerss
{
	height: 500px;
	text-align: center;
	width: 500px;
}
.column {
	display: block;
	box-sizing: border-box;
    width: 25%; /* новая ширина колонки */
	height: auto;
    margin-bottom: 20px;
	background-color: black;
	
}
.my
{
    display: block;
    box-sizing: border-box;
}
.container-menu
{
	/* Rectangle 8 */

	position: absolute;
	width: 1293.05px;
	height: 70px;
	left: 311.95px;
	top: 60px;

	background: #101010;
	border-radius: 30px;

}

.menu__btn {
``color:white;
  position: fixed;
  top: 94px;
  left: 1550px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transition-duration: .25s;

}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 15%;
  left: -50%;
  width: 25%;
  height: 25%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
 скрываем чекбокс */
#menu__toggle
{
  opacity: 0;
}
/* стилизуем кнопку */
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 65% !important;
}